## Import packages

In [1]:
import os, sys

sys.path.append('../')

import src.scH5Loader as scH5Loader

/software/cellgen/team298/ar32/envs/YS_env/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

## Set directory for file of interest

In [2]:
data_dir = '/nfs/team298/ar32/repos/H5py_anndata_checker/dummy_data/test_adata.h5ad'
print(data_dir)

/nfs/team298/ar32/repos/H5py_anndata_checker/dummy_data/test_adata.h5ad

## See what is in the file

In [3]:
scH5Loader.generate_anndata_report(data_dir)

Anndata object checking: /nfs/team298/ar32/repos/H5py_anndata_checker/dummy_data/test_adata.h5ad

Partition: X

{   'Group Keys': ['data', 'indices', 'indptr'],
    'Group Types': [   <class 'h5py._hl.dataset.Dataset'>,
                       <class 'h5py._hl.dataset.Dataset'>,
                       <class 'h5py._hl.dataset.Dataset'>]}
{   'Matrix Format': 'CSR/CSC Matrix',
    'Number of cells': 5000,
    'Number of features': 36000,
    'Shape': array([ 5000, 36000])}
---------------------------

Partition: layers

{   'Group Keys': ['layer1', 'layer2'],
    'Group Types': [   <class 'h5py._hl.dataset.Dataset'>,
                       <class 'h5py._hl.group.Group'>]}

Sub layer information:

layer1:
{     'Matrix Format': 'NumPy Array or Dense Matrix',
      'Number of cells': 5000,
      'Number of features': 36000,
      'Shape': (5000, 36000)}

layer2:
{     'Matrix Format': 'CSR/CSC Matrix',
      'Number of cells': 5000,
      'Number of features': 36000,
      'Shape': array([ 5000, 36000])}

---------------------------

Partition: obs

{   'Group Keys': [   '_index', 'anno_LVL1', 'anno_LVL2', 'biological_unit',
                      'donor', 'study'],
    'Group Types': [   <class 'h5py._hl.dataset.Dataset'>,
                       <class 'h5py._hl.group.Group'>,
                       <class 'h5py._hl.group.Group'>,
                       <class 'h5py._hl.group.Group'>,
                       <class 'h5py._hl.group.Group'>,
                       <class 'h5py._hl.group.Group'>]}
---------------------------

Partition: obsm

{'Group Keys': [], 'Group Types': []}
---------------------------

Partition: obsp

{'Group Keys': [], 'Group Types': []}
---------------------------

Partition: uns

{'Group Keys': [], 'Group Types': []}
---------------------------

Partition: var

{   'Group Keys': ['_index', 'hgnc', 'high_var'],
    'Group Types': [   <class 'h5py._hl.dataset.Dataset'>,
                       <class 'h5py._hl.group.Group'>,
                       <class 'h5py._hl.group.Group'>]}
---------------------------

Partition: varm

{'Group Keys': [], 'Group Types': []}
---------------------------

Partition: varp

{'Group Keys': [], 'Group Types': []}
---------------------------

## See unique values in columns of interest

In [4]:
dataframe = 'obs'
columns = [
    'anno_LVL1', 
    'anno_LVL2',
    'biological_unit'
    ]

print(
    f"\033[1mDataFrame output to see all unique values for each column of interest in {dataframe}:\033[0m\n"
)
scH5Loader.inspect_column_categories(data_dir, dataframe, columns)

DataFrame output to see all unique values for each column of interest in obs:

,anno_LVL1 unique values,anno_LVL2 unique values,biological_unit unique values
0,epithelial,cardiomyocyte,cell
1,haematopoetic,erythroid,nuclei
2,stromal,fibroblast,
3,,hepatocyte,
4,,macrophage,
5,,monocyte,

In [5]:
dataframe = 'var' # choose obs or var 
columns = [
    'hgnc',
    'high_var'
    ]

# Display the DataFrame
print(
    f"\033[1mDataFrame output to see all unique values for each column of interest in {dataframe}:\033[0m\n"
)
scH5Loader.inspect_column_categories(data_dir, dataframe, columns)

DataFrame output to see all unique values for each column of interest in var:

  hgnc unique values high_var unique values
0           template                     no
1                                       yes

## Note: Displaying Column-Level Unique Categories, Not the Entire DataFrame!

If you had 5 unique categories in a column, removed 2 unique values leaving only 3 unique values, the column-level metadata may still report 5 unique categories and this is what h5py will report to the user. 

This discrepancy can occur if you haven't updated the column metadata by removing unused categories using the following code:

```python
# Update the column-level metadata to remove unused categories
df_subset['column'] = df_subset['column'].cat.remove_unused_categories()
```

To account for above, prior to loading in the data check that all the unique categories of interest are actually still in the data and haven't been sliced out

## Make a pandas dataframe for only data of interest and selected columns from obs

In [6]:
dataframe = 'obs'

filter_dict = {
    
    'anno_LVL1' : ['haematopoetic'],
    'anno_LVL2' : ['macrophage']
}

additional_cols_keep = [
    'biological_unit',
    ]

filter_method = 'intersection'
#filter_method = 'union'


print(
        f"\033[1mDataFrame output of {dataframe} subset by columns {list(filter_dict.keys())} by {filter_method} for values of interest:\033[0m\n"
    )
scH5Loader.create_dataframe_subset(data_dir, dataframe, filter_dict, additional_cols_keep, filter_method)

DataFrame output of obs subset by columns ['anno_LVL1', 'anno_LVL2'] by intersection for values of interest:

,Original_index_value,Original_index_position,anno_LVL1,anno_LVL2,biological_unit
check_index_4,check_index_4,4,haematopoetic,macrophage,nuclei
check_index_5,check_index_5,5,haematopoetic,macrophage,cell
check_index_6,check_index_6,6,haematopoetic,macrophage,nuclei
check_index_10,check_index_10,10,haematopoetic,macrophage,cell
check_index_13,check_index_13,13,haematopoetic,macrophage,cell
...,...,...,...,...,...
check_index_4979,check_index_4979,4979,haematopoetic,macrophage,nuclei
check_index_4981,check_index_4981,4981,haematopoetic,macrophage,cell
check_index_4985,check_index_4985,4985,haematopoetic,macrophage,nuclei
check_index_4994,check_index_4994,4994,haematopoetic,macrophage,cell
check_index_4996,check_index_4996,4996,haematopoetic,macrophage,cell

In [7]:
dataframe = 'obs'

filter_dict = {
    
    'anno_LVL1' : ['haematopoetic'],
    'anno_LVL2' : ['hepatocyte']
}

additional_cols_keep = [
    'biological_unit',
    ]

#filter_method = 'intersection'
filter_method = 'union'


print(
        f"\033[1mDataFrame output of {dataframe} subset by columns {list(filter_dict.keys())} by {filter_method} for values of interest:\033[0m\n"
    )
scH5Loader.create_dataframe_subset(data_dir, dataframe, filter_dict, additional_cols_keep, filter_method)

DataFrame output of obs subset by columns ['anno_LVL1', 'anno_LVL2'] by union for values of interest:

,Original_index_value,Original_index_position,anno_LVL1,anno_LVL2,biological_unit
check_index_2,check_index_2,2,epithelial,hepatocyte,cell
check_index_4,check_index_4,4,haematopoetic,macrophage,nuclei
check_index_5,check_index_5,5,haematopoetic,macrophage,cell
check_index_6,check_index_6,6,haematopoetic,macrophage,nuclei
check_index_7,check_index_7,7,haematopoetic,erythroid,cell
...,...,...,...,...,...
check_index_4993,check_index_4993,4993,haematopoetic,monocyte,cell
check_index_4994,check_index_4994,4994,haematopoetic,macrophage,cell
check_index_4995,check_index_4995,4995,haematopoetic,erythroid,cell
check_index_4996,check_index_4996,4996,haematopoetic,macrophage,cell
check_index_4998,check_index_4998,4998,haematopoetic,erythroid,cell

## Make a pandas dataframe for only data of interest and selected columns from var

In [8]:
dataframe = 'var'

filter_dict = {
    
    'high_var' : ['yes'],
}

additional_cols_keep = []

filter_method = 'intersection'
#filter_method = 'union'


print(
        f"\033[1mDataFrame output of {dataframe} subset by columns {list(filter_dict.keys())} by {filter_method} for values of interest:\033[0m\n"
    )
scH5Loader.create_dataframe_subset(data_dir, dataframe, filter_dict, additional_cols_keep, filter_method)

DataFrame output of var subset by columns ['high_var'] by intersection for values of interest:

                Original_index_value  Original_index_position high_var
check_var_1              check_var_1                        1      yes
check_var_2              check_var_2                        2      yes
check_var_3              check_var_3                        3      yes
check_var_5              check_var_5                        5      yes
check_var_6              check_var_6                        6      yes
...                              ...                      ...      ...
check_var_35994      check_var_35994                    35994      yes
check_var_35995      check_var_35995                    35995      yes
check_var_35996      check_var_35996                    35996      yes
check_var_35997      check_var_35997                    35997      yes
check_var_35998      check_var_35998                    35998      yes

[21605 rows x 3 columns]

## Load only a slice of the original data into memory

In [9]:
input_settings = {
    'data_dir' : data_dir,
    'obs_filter_dict' : {
                        'anno_LVL1' : ['haematopoetic'],
                        'anno_LVL2' : ['hepatocyte']
                        },
    'obs_additional_cols_keep' : [],
    'obs_filter_method' : 'union',
    'var_filter_dict' : {
                        'high_var' : ['yes'],
                        },
    'var_additional_cols_keep' : [],
    'var_filter_method' : 'intersection',
    
    'filter_layers' : [],
    'filter_obsm' : [],
    'filter_obsp' : [],
    'filter_varm' : [],
    'filter_varp' : [],
    'filter_uns' : [],
    
    'keep_layers' : False,
    'keep_obsm' : False,
    'keep_obsp' : False,
    'keep_varm' : False,
    'keep_varp' : False,
    'keep_uns' : False,
    
}

adata = scH5Loader.create_anndata_subset(**input_settings)

print("")
print("")
print("\033[1mSubset anndata object generated successfully\033[0m\n")
print("\033[1m" + "Anndata whole preview:" + "\033[0m")
display(adata)
print("")
print("")
print("\033[1mQuick view of the anndata object generated\033[0m\n")
print(f"Overall shape: {adata.shape}")
print(f"Min count: {adata.X.min()}")
print(f"Max count: {adata.X.max()}")
print("")
print("\033[1m" + "obs preview:" + "\033[0m")
display(adata.obs)
print("")
print("\033[1m" + "var preview:" + "\033[0m")
display(adata.var)
print("")

Look up cells of interest:  🔍

Processing Rows and Columns for filtered data: 100%|██████████| 3053/3053 [00:00<00:00, 43933.20row/s]

Constructing data into csr_matrix format:  🔧
Construction complete ✅


Subset anndata object generated successfully

Anndata whole preview:

AnnData object with n_obs × n_vars = 3053 × 21605
    obs: 'Original_index_value', 'Original_index_position', 'anno_LVL1', 'anno_LVL2'
    var: 'Original_index_value', 'Original_index_position', 'high_var'

Quick view of the anndata object generated

Overall shape: (3053, 21605)
Min count: 0.0
Max count: 0.0

obs preview:

,Original_index_value,Original_index_position,anno_LVL1,anno_LVL2
check_index_2,check_index_2,2,epithelial,hepatocyte
check_index_4,check_index_4,4,haematopoetic,macrophage
check_index_5,check_index_5,5,haematopoetic,macrophage
check_index_6,check_index_6,6,haematopoetic,macrophage
check_index_7,check_index_7,7,haematopoetic,erythroid
...,...,...,...,...
check_index_4993,check_index_4993,4993,haematopoetic,monocyte
check_index_4994,check_index_4994,4994,haematopoetic,macrophage
check_index_4995,check_index_4995,4995,haematopoetic,erythroid
check_index_4996,check_index_4996,4996,haematopoetic,macrophage
check_index_4998,check_index_4998,4998,haematopoetic,erythroid

var preview:

                Original_index_value  Original_index_position high_var
check_var_1              check_var_1                        1      yes
check_var_2              check_var_2                        2      yes
check_var_3              check_var_3                        3      yes
check_var_5              check_var_5                        5      yes
check_var_6              check_var_6                        6      yes
...                              ...                      ...      ...
check_var_35994      check_var_35994                    35994      yes
check_var_35995      check_var_35995                    35995      yes
check_var_35996      check_var_35996                    35996      yes
check_var_35997      check_var_35997                    35997      yes
check_var_35998      check_var_35998                    35998      yes

[21605 rows x 3 columns]

# Final check of adata

In [10]:
adata

AnnData object with n_obs × n_vars = 3053 × 21605
    obs: 'Original_index_value', 'Original_index_position', 'anno_LVL1', 'anno_LVL2'
    var: 'Original_index_value', 'Original_index_position', 'high_var'